{include file="header.html" title=LightCSV}
{if $test}
<TABLE>
	<TR>
		<TD>Name</TD><TD>Object</TD><TD>Timestamp</TD><TD>Type</TD><TD>Writable</TD><TD>Value</TD>
	</TR>
{foreach from=$test key=name item=pos}
	<TR>
		<TD>{$name}</TD><TD>{$pos._object}</TD><TD>{$pos._timestamp}</TD><TD>{$pos._type}</TD><TD>{$pos._writable}</TD><TD>{$pos._value}</TD>
	</TR>
{/foreach}
</TABLE>
{/if}

{if $download}
<TABLE>
	<TR>
		<TD>BOM</TD><TD>EOM</TD><TD>Size</TD><TD>Speed</TD>
	</TR>
	<TR>
		<TD>{$download.BOMTime}</TD><TD>{$download.EOMTime}</TD><TD>{$download.TestBytesReceived}</TD><TD>{$download.speed}</TD>
	</TR>
</TABLE>
{/if}
