{include file="header.html" title=LightCSV}
<script>
function setclass(v)
{
	if(v.value!=0)
		document.getElementById('class').value = v.value;
}
</script>
<form action="?m=fileadd" method="post" enctype="multipart/form-data">
  Select file:
  <input type="file" name="confFile" id="fileToUpload">
  <input type="submit" value="Upload file" name="submit">
</form>

<h3>Create new configuration template</h3>
{if $error}
<h4 style="color:red">{$error}</h4>
{/if}
<form action="?m=templateadd&amp;action=create" method="post">
<TABLE>
    <TR>
        <TD>
            Product class:
        </TD>
        <TD>
            <input type="text" name="class" id='class' placeholder="XXXXXX" size="32" title="">
			{if $apiclasslist}
			Not defined Product Class:<SELECT size="1" name="idlist" onchange="setclass(this)">
            	    <OPTION VALUE="0">Select</OPTION>
					{foreach from=$classlist key=key item=item}{
           			    <OPTION value="{$item}">{$item}</OPTION>
					{/foreach}
				</SELECT>
			{/if}
        </TD>
    </TR>
    <TR>
        <TD>
            Template:
        </TD>
        <TD>
            <textarea name="configuration" placeholder="setssid;setParameterValues;parameterNames;InternetGatewayDevice.LANDevice.1.WLANConfiguration.1.SSID;%value" rows="10" cols="150">{$file}</textarea>
        </TD>
    </TR>
    <TR>
        <TD colspan="2">
            <input type="submit" value="Save" name="submit">
        </TD>
    </TR>
</TABLE>
</form>
